<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.urjalabs.smartcontroller">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTING" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ForgotPassOTP"
            android:exported="false" />
        <activity
            android:name=".ForgotPassReset"
            android:exported="false" />
        <activity
            android:name=".ForgotPassEmailCheck"
            android:exported="false" />
        <activity
            android:name=".WebViewActivity"
            android:exported="false" /> <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="${applicationId}.provider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="provider_paths.xml" /> -->
        <!-- </provider> -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WifiModule"
            android:label="activity_wifi_module" />
        <activity
            android:name=".AssociateLoadActivity"
            android:label="@string/associate_load">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.urjalabs.smartcontroller.MainActivity" />
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/action_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.urjalabs.smartcontroller.MainActivity" />
        </activity> <!-- Services required for using MQTT -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <activity
            android:name=".CaptureActivityPortrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".OthersActivity" />
        <activity android:name=".util.ScannerView" />
        <activity android:name=".util.CustomWebViewActivity" />
    </application>

</manifest>